<form method="post" action="{{url_for('strategy', id='Quality')}}">
    <br>
    <div class="col-12 mb-3">
        <label for="strategy" class="form-label">Strategy</label>
        <select id="strategy" name="strategy" class="form-select">
            <option value>Choose...</option>
            <option>Asset Turnover Ratio</option>
            <option>Current Ratio</option>
            <option>Interest Coverage Ratio</option>
            <option>Leverage</option>
            <option>Payout Ratio</option>
            <option>ROE</option>
        </select>
    </div>
    <div class="col-12 mb-3">
        <label for="asset_universe" class="form-label">Asset Universe</label>
        <select id="asset_universe" name="asset" class="form-select">
            <option value>Choose...</option>
            <option>Nifty 50</option>
            <option>All</option>
            <option>Nifty 500</option>
            <option>Nifty Next 50</option>
        </select>
    </div>
    <label>Weighting Strategy</label>
    <div class="my-3">
        <div class="form-check">
            <input id="equi_wtd" name="wt_strategy" type="radio" class="form-check-input"
                   value="equal_wt" checked required>
            <label class="form-check-label" for="equi_wtd">Equal-weighted</label>
        </div>
        <div class="form-check">
            <input id="cap_wtd" name="wt_strategy" type="radio" class="form-check-input" value="mkt_cap" required>
            <label class="form-check-label" for="cap_wtd">Market-Cap weighted</label>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
